<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755681568857-mdmci4u022hpbpjmcelim0l5e4ro45uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755681568857-mdmci4u022hpbpjmcelim0l5e4ro45uh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755681568857-d3rpvl79228uf8r0kptea523nocukb8a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFeBhmkEbUI0jpiIXgi4KbZGFP1qNBd_0</string>
	<key>GCM_SENDER_ID</key>
	<string>755681568857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usaAutoTest</string>
	<key>PROJECT_ID</key>
	<string>c0mplex</string>
	<key>STORAGE_BUCKET</key>
	<string>c0mplex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755681568857:ios:aaccffc1673cafecfe2948</string>
</dict>
</plist>